@import url('https://fonts.googleapis.com/css?family=Roboto|Oleo+Script');

body{
    background: #fafafa;
    color:#125688;
    font-family: 'Roboto', sans-serif;
}

#main-container{
    margin: 30px auto;
    
}

.iphone{
    max-width: 120%;
    margin-right: -100px;
}

.site-footer{
    text-transform: uppercase;
    font-size: 12px;
}

.login-box,
.signup-box{
    background-color: white;
    border: 1px solid #edeeee;
    border-radius: 3px;
    padding: 10px 0;
    text-align: center;
}
 .megagram{
 font-family: 'Oleo Script';
 font-size:42px;
}
.signup-form {
    width: 65%;
    margin: 0 auto;
}

.signup-form h2{
    color: #a5a7aa;
    font-size: 1.2em;
}

.signup-form .btn.btn-fb{
    background-color: #4090db;
    font-size: .9em;
}
.signup-form .btn.btn-fb:hover{
    background-color:#2d6599;
}

.signup-form .btn.btn-signup{
    background-color: #125688;

}
.site-footer{
    text-align: center;
}